Flask==3.0.0
Flask-SQLAlchemy==3.1.1
flask-security-too==5.3.1
flask_jwt_extended==4.5.3
flask_marshmallow==0.15.0
Flask-Migrate==4.0.5
Flask-Pydantic==0.11.0

pydantic==2.4.2
pydantic-settings==2.0.3
gunicorn==21.2.0
psycopg2-binary==2.9.9

marshmallow-sqlalchemy==0.29.0
flasgger==0.9.7.1
web3==6.11.1

grpcio-tools==1.59.0
gevent==23.9.1

email-validator==2.0.0.post2
redis==5.0.1

pytz==2023.3
orjson==3.9.9
backoff==2.2.1

Flask-JSON==0.4.0

python-dotenv==1.0.0
